@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    background-position: fixed;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background: #f1f1f1;
    gap: 15px;
    padding-bottom: 80px;
}

h1{
    font-size: 45px;
    text-transform: uppercase;
    color: #ff3ffb;
}

.first-content{
    min-height: 100vh;
}

.container .content {
    flex: 1 1 400px;
}

.container .image {
    flex: 1 1 400px;
}

.container .image img {
    width: 100%;
}

.container .content .title {
    font-size: 45px;
    text-transform: uppercase;
    color: #ff3ffb;
}

.container .content p {
    color: #000000;
    padding: 5px 0;
}

.container .content .count-down {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.container .content .count-down .box {
    padding: 5px;
    background: #ff3ffb;
    border: 1px solid #fff1ff;
    text-align: center;
    flex: 1 1 20px;
}

.container .content .count-down .box h3 {
    font-size: 50px;
    color: #fff1ff;
}

.container .content .count-down .box span {
    color: beige;
    font-size: 20px;
}

.container .content .socials {
    /* padding: 8px 50px; */
    margin: 10px 10px;
    font-size: 17px;
    color: #fff1ff;
    transition: .2s ease-out;
    align-items: center;
    text-align: left;
}

.container .content .socials i {
    font-size: 1.5rem;
    padding: 15px;
    margin: 7px 7px;
    color: #ff3ffb;
    border: 1px solid #ff3ffb;
    border-radius: 15px;
}

.container .content .socials i:hover {
    background-color: black;
    color: #f1f1f1;
}

.container .content .socials .connect p {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 1.5rem;
}

@media (max-width:500px) {
    .container {
        padding: 20px;
    }
    .container .content {
        text-align: center;
    }
    .container .content .title {
        font-size: 35px;
    }
    .container .content p {
        font-size: 14px;
    }
    .container .content .count-down {
        gap: 5px;
    }
    .container .content .count-down .box h3 {
        font-size: 30px;
    }
    .container .content .count-down .box span {
        font-size: 15px;
    }
}

button{
    background-color: #ff3ffb;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    color: white;
}

button:hover{
    background-color: #000000;
}

.partner-logos{
    justify-content: center center;
    align-items: center;
    display: flex;
}

.partner-logos span{
    margin-right: 15px;
}